doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="navbar navbar-dark fixed-top  bg-dark")
      a(class="navbar-brand", style="color: #fff;")
      form(class="form-inline")
        input(type="text", class="form-control mr-sm-2", placeholder="Email")
        input(type="password", class="form-control mr-sm-2", placeholder="Password")
        a(href="")
          button(type="submit" class="btn btn-outline-success my-2 my-sm-0") Sign in

    div(class="container")
      div(class="row")
        div(class="col-sm-2 col-sm-offset-1")
          block sidebar
            ul(class="sidebar-nav")
              li
                a(href="/catalog", title="title") Home
              li
                a(href="/catalog/books", title="title") All books
              li
                a(href="/catalog/authors", title="title") All authors
              li
                a(href="/catalog/genres", title="title") All genres
              li
                a(href="/catalog/bookinstances", title="title") All book-instances
              li
                hr
              li
                a(href="/catalog/author/create", title="title") Create new author 
              li
                a(href="/catalog/genre/create", title="title") Create new genre 
              li
                a(href="/catalog/book/create", title="title") Create new book 
              li
                a(href="/catalog/bookinstance/create", title="title") Create new book instance (copy)

        div(class="col-sm-9")
          block content
